@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
.wrapper {
  border: 5px solid black;
  border-radius: 0.75rem;
}
input {
  width: 100%;
  outline: 0;
  border-width: 0 0 4px;
  border-color: #497be8;
  transition-duration: 0.6s;
  &:focus {
    border-color: #40a08a;
    &::placeholder {
      color: transparent;
    }
  }
}
.todoList {
  list-style-type: none;
  padding: 5px;
}
.listItem {
  background: white;
  color: grey;
  border-bottom: 1px solid grey;
  padding-left: 10px;
}
.reminder {
  color: grey;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}